[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
humanize = "*"
bs4 = "*"
pytz = "*"
python-dateutil = "*"
sympy = "*"
pymongo = "*"
dnspython = "*"
discord-flags = "*"
pynacl = "*"
youtube-dl = "*"
mypy = "*"
pylint = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
